<h1>Add new product</h1>
<form name="productForm" ng-submit="addNewProduct(productForm.$valid)" novalidate>
  <input ng-model="product.title" placeholder="Add item name" required type="text"></input>
  <br>
  <input ng-model="product.description" placeholder="Add description" required type="text"></input>
  <br>
  <input ng-model="product.price" placeholder="Add amount" required type="text"></input>
  <br>
  <button class="btn waves-effect waves-red" ng-disabled="productForm.$invalid" ng-submit="addNewProduct()" type="submit">Submit</button>
</form>
