<h2>Admin Tasks</h2>

<!-- Home -> Welcome Message -->
<!-- Contact -> Contact Info -->
<!-- Contact -> Daycare Hours -->
<!-- Contact -> Grooming Hours -->

<!-- Store -> Current Products -->


<p>
  <h3>Current Products</h3>
</p>
<products ng-repeat="product in products">
  {{product.title}}
  <br>
  {{product.description}}
  <br>
  {{product.price | currency}}
  <br>
  <a href="/#/addProduct">Add New Product</a>
  <button>
    <a href="/#/editProduct/{{product._id}}">Update
    </a>
  </button>
  <button ng-click="deleteProduct(product)">Delete</button>
  <p></p>
  </products>

<!-- Spa Packages -> Spa Packages -->
<!-- Doggie Daycare -> Daycare Rates -->
