<h2>
  Contact Info
</h2>
<div ng-repeat="address in addressText">
  {{address.address}}
  <br>
  {{address.city}}
  <br>
  {{address.state}}
  <br>
  {{address.zip}}
  <br>
  {{address.phone}}
  <br>
  {{address.email}}
  <!-- Admin View -->
    <br>
    <button>
      <a href="/#/editAddress/{{address._id}}">Update
      </a>
    </button>
    <p></p>
  <!-- End Admin View -->
</div>
<p>
  <h2>
    Daycare Hours
  </h2>
  <div ng-repeat="hours in daycareHours">
    Monday:
    {{hours.monday}}
    <br>
    Tuesday:
    {{hours.tuesday}}
    <br>
    Wednesday:
    {{hours.wednesday}}
    <br>
    Thursday:
    {{hours.thursday}}
    <br>
    Friday:
    {{hours.friday}}
    <br>
    Saturday:
    {{hours.saturday}}
    <br>
    Sunday:
    {{hours.sunday}}
  </div>
</p>
<p>
  <h2>
    Grooming Hours
  </h2>
  <div ng-repeat="hours in groomingHours">
    Monday:
    {{hours.monday}}
    <br>
    Tuesday:
    {{hours.tuesday}}
    <br>
    Wednesday:
    {{hours.wednesday}}
    <br>
    Thursday:
    {{hours.thursday}}
    <br>
    Friday:
    {{hours.friday}}
    <br>
    Saturday:
    {{hours.saturday}}
    <br>
    Sunday:
    {{hours.sunday}}
  </div>
</p>
