<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <style>
      #index-banner {
        background-image: url("http://cdn1.editmysite.com/uploads/4/9/5/6/49567099/background-images/616938483.jpg");
        background-position: 35% 65%;
      }
    </style>
    <br><br>
    <h1 class="header center grey-text text-lighten-4">Contact Information</h1>
    <div class="row center">
      <h6 class="header col s12 light grey-text text-lighten-4">

        Please see our contact information and hours below. We do our best to meet your needs.
        <p>If a special circumstance arises please contact us and we will do our best to accomodate your request.</p>

      </h6>
    </div>
    <br>
  </div>
</div>
<div class="section">
  <div class="row">
    <div class="col s18 m4">
      <div class="icon-block">
        <h4 class="center">Address</h4>

        <center>
          <addresses ng-repeat="address in addressText">
            {{address.address}}
            <br>
            {{address.city}}
            <br>
            {{address.state}}
            <br>
            {{address.zip}}
            <br>
            {{address.phone}}
            <br>
            {{address.email}}
<!-- Admin View -->
            <br>
            <p></p>
            <div ng-if="loggedin">
              <a class="btn waves-effect waves-red" ng-href="/#/editAddress/{{address._id}}">Update
              </a>
            </div>
            <p></p>
<!-- End Admin View -->
          </addresses>
        </center>

      </div>
    </div>
    <div class="col s18 m4">
      <div class="icon-block">
        <h4 class="center">Daycare Hours</h4>

        <center>
          <daycareHours ng-repeat="hours in daycareHours">
            Monday:
            {{hours.monday}}
            <br>
            Tuesday:
            {{hours.tuesday}}
            <br>
            Wednesday:
            {{hours.wednesday}}
            <br>
            Thursday:
            {{hours.thursday}}
            <br>
            Friday:
            {{hours.friday}}
            <br>
            Saturday:
            {{hours.saturday}}
            <br>
            Sunday:
            {{hours.sunday}}
<!-- Admin View -->
            <br>
            <p></p>
            <div ng-if="loggedin">
              <a class="btn waves-effect waves-red" ng-href="/#/editDaycareHours/{{hours._id}}">Update
              </a>
            </div>
            <p></p>
<!-- End Admin View -->
          </daycareHours>
        </center>

      </div>
    </div>

    <div class="col s18 m4">
      <div class="icon-block">
        <h4 class="center">Grooming Hours</h4>
        <center>
          <groomingHours ng-repeat="hours in groomingHours">
            Monday:
            {{hours.monday}}
            <br>
            Tuesday:
            {{hours.tuesday}}
            <br>
            Wednesday:
            {{hours.wednesday}}
            <br>
            Thursday:
            {{hours.thursday}}
            <br>
            Friday:
            {{hours.friday}}
            <br>
            Saturday:
            {{hours.saturday}}
            <br>
            Sunday:
            {{hours.sunday}}
<!-- Admin View -->
            <br>
            <p></p>
            <div ng-if="loggedin">
              <a class="btn waves-effect waves-red" ng-href="/#/editGroomingHours/{{hours._id}}">Update
              </a>
            </div>
            <p></p>
<!-- End Admin View -->
          </groomingHours>
        </center>
      </div>
    </div>
  </div>
  <center>
    <h4>Contact Us</h4>
  </center>
  <form name="mail">
    <label>Name</label>
    <input ng-model="fromName" placeholder="Enter your name" required type="text"></input>
    <br>
    <label>Email Address</label>
    <input ng-model="fromEmail" placeholder="Enter your e-mail address" required type="text"></input>
    <br>
    <label>Message</label>
    <textarea class="materialize-textarea black-text" id="message" ng-model="message" placeholder="Enter your message" required></textarea>
    <br>
    <p>
      <button class="btn waves-effect waves-red" ng-click="sendEmail(fromEmail, fromName, 'MYEMAIL@gmail.com', 'Test', 'Website Contact', message)">send message</button>
    </p>
    <p></p>
  </form>
