<h2>Daycare Rates</h2>
<!-- Admin View -->
<a ng-href="/#/addDaycarePackage">Add New Daycare Package</a>
<p></p>
<!-- End Admin View -->
<div ng-repeat="daycare in daycareRates">
  Days:
  {{daycare.days}}
  <br>
  Full Day One Dog:
  {{daycare.fullOneDog | currency}}
  <br>
  Full Day Two Dogs:
  {{daycare.fullTwoDogs | currency}}
  <br>
  Half Day One Dog:
  {{daycare.halfOneDog | currency}}
  <br>
  Half day Two Dogs:
  {{daycare.halfTwoDogs | currency}}
  <br>
  Each Additional Dog:
  {{daycare.additional | currency}}
<!-- Admin View -->
  <br>
  <button>
    <a ng-href="/#/editDaycarePackages/{{daycare._id}}">Update
    </a>
  </button>
  <button ng-click="deleteDaycareRates(daycare)">Delete</button>
  <p></p>
<!-- End Admin View -->
  <p></div>
