<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <style>
      #index-banner {
        background-image: url("http://nebula.wsimg.com/3f8c4c9245de6162b39bc6442dc3d9f6?AccessKeyId=EB38D7A9673341E68408&disposition=0&alloworigin=1");
        background-position: 20% 60%;
      }
    </style>
    <br><br>
    <h1 class="header center grey-text text-lighten-4">Daycare Rates</h1>
    <div class="row center">
      <h6 class="header col s12 light grey-text text-lighten-4">
        Please see our daycare rates below.
        <p>We understand that you may have multiple k9 companions. We offer a discount for each additional dog.</p>
      </h6>
    </div>
    <br>
  </div>
</div>
<!-- Admin View -->
<p>
  <center>
    <div ng-if="loggedin">
      <a ng-href="/#/addDaycarePackage">Add New Daycare Package</a>
    </div>
    <p>
      Please call for scheduling 972-420-4060
    </p>
  </center>
</p>
<!-- End Admin View -->
<div class="section">

  <div class="row">
    <div class="col s18 m4" ng-repeat="daycare in daycareRates">
      <div class="icon-block">
        <h4 class="center">
          {{daycare.days}}
          days</h4>

        <center>
          <br>
          Full Day One Dog:
          {{daycare.fullOneDog | currency}}
          <br>
          Full Day Two Dogs:
          {{daycare.fullTwoDogs | currency}}
          <br>
          Half Day One Dog:
          {{daycare.halfOneDog | currency}}
          <br>
          Half day Two Dogs:
          {{daycare.halfTwoDogs | currency}}
          <br>
          Each Additional Dog:
          {{daycare.additional | currency}}
<!-- Admin View -->
          <br>
          <p></p>
          <div ng-if="loggedin">
            <a class="btn waves-effect waves-red" ng-href="/#/editDaycarePackages/{{daycare._id}}">Update
            </a>
            <button class="btn waves-effect waves-red" ng-click="deleteDaycareRates(daycare)" onclick="Materialize.toast('Item deleted', 2000)">Delete</button>
          </div>
          <p></p>
<!-- End Admin View -->
        </center>

      </div>
    </div>
  </div>
</div>
