<h3>Edit Address</h3>
<form ng-submit="updateAddress(address)">
  <input ng-model="address.address" type="text" value="Add Street"></input>
  <br>
  <input ng-model="address.city" placeholder="Add City" type="text"></input>
  <br>
  <input ng-model="address.state" placeholder="Add State" type="text"></input>
  <br>
  <input ng-model="address.zip" placeholder="Add Zip" type="text"></input>
  <br>
  <input ng-model="address.phone" placeholder="Add Phone" type="text"></input>
  <br>
  <input ng-model="address.email" placeholder="Add Email" type="text"></input>
  <br>
  <p></p>
  <button class="btn waves-effect waves-red" type="submit">Submit</button>
</form>
