<center>
  <h3>Edit Grooming Hours</center>
</h3>
<form ng-submit="updateGrooming(grooming)">
  <label>Monday</label>
  <input ng-model="grooming.monday" type="text" value="Edit Monday Hours"></input>
  <br>
  <label>Tuesday</label>
  <input ng-model="grooming.tuesday" placeholder="Edit Tuesday Hours" type="text"></input>
  <br>
  <label>Wednesday</label>
  <input ng-model="grooming.wednesday" placeholder="Edit Wednesday Hours" type="text"></input>
  <br>
  <label>Thursday</label>
  <input ng-model="grooming.thursday" placeholder="Edit Thursday Hours" type="text"></input>
  <br>
  <label>Friday</label>
  <input ng-model="grooming.friday" placeholder="Edit Friday Hours" type="text"></input>
  <br>
  <label>Saturday</label>
  <input ng-model="grooming.saturday" placeholder="Edit Saturday Hours" type="text"></input>
  <br>
  <label>Sunday</label>
  <input ng-model="grooming.sunday" placeholder="Edit Sunday Hours" type="text"></input>
  <br>
  <p>
    <div ng-if="loggedin">
      <button class="btn waves-effect waves-red" type="submit">Submit</button>
    </div>
  </p>
  <br>
</form>
