<h3>Edit Address</h3>
<form ng-submit="updateAddress(address)">
  <label>Address and Street</label>
  <input ng-model="address.address" type="text" value="Add Street"></input>
  <br>
  <label>City</label>
  <input ng-model="address.city" placeholder="Add City" type="text"></input>
  <br>
  <label>States</label>
  <input ng-model="address.state" placeholder="Add State" type="text"></input>
  <br>
  <label>Zip</label>
  <input ng-model="address.zip" placeholder="Add Zip" type="text"></input>
  <br>
  <label>Phone</label>
  <input ng-model="address.phone" placeholder="Add Phone" type="text"></input>
  <br>
  <label>Email</label>
  <input ng-model="address.email" placeholder="Add Email" type="text"></input>
  <br>
  <p></p>
  <div ng-if="loggedin">
    <button class="btn waves-effect waves-red" type="submit">Submit</button>
  </div>
</form>
