<center><h3>Edit Products</center></h3>
<form ng-submit="updateProduct(product)">
  <input ng-model="product.title" type="text" value="Product Title"></input>
  <br>
  <input ng-model="product.description" placeholder="Add description" type="text"></input>
  <br>
  <input ng-model="product.price" placeholder="Add dollar amount" type="text"></input>
  <br>
  <input ng-model="product.image" placeholder="Add image path" required type="text"></input>
  <br>
  <p></p>
  <button class="btn waves-effect waves-red" type="submit" onclick="Materialize.toast('Item updated', 2000)">Submit</button>
</form>
