<h3>Edit Daycare Hours</h3>
<form ng-submit="updateDaycare(daycare)">
  <label>Monday</label>
  <input ng-model="daycare.monday" type="text" value="Edit Monday Hours"></input>
  <br>
  <label>Tuesday</label>
  <input ng-model="daycare.tuesday" placeholder="Edit Tuesday Hours" type="text"></input>
  <br>
  <label>Wednesday</label>
  <input ng-model="daycare.wednesday" placeholder="Edit Wednesday Hours" type="text"></input>
  <br>
  <label>Thursday</label>
  <input ng-model="daycare.thursday" placeholder="Edit Thursday Hours" type="text"></input>
  <br>
  <label>Friday</label>
  <input ng-model="daycare.friday" placeholder="Edit Friday Hours" type="text"></input>
  <br>
  <label>Saturday</label>
  <input ng-model="daycare.saturday" placeholder="Edit Saturday Hours" type="text"></input>
  <br>
  <label>Sunday</label>
  <input ng-model="daycare.sunday" placeholder="Edit Sunday Hours" type="text"></input>
  <br>
  <p></p>
  <button class="btn waves-effect waves-red" type="submit">Submit</button>
</form>
