<center><h3>Edit Daycare Packages</center></h3>
<form ng-submit="updateDaycareRates(daycarePackages)">
  Days:
  <input ng-model="daycarePackages.days" type="text" value="Add Number of Days"></input>
  <br>
  Full Day One Dog:
  <input ng-model="daycarePackages.fullOneDog" placeholder="Add Rate" type="text"></input>
  <br>
  Full Day Two Dogs:
  <input ng-model="daycarePackages.fullTwoDogs" placeholder="Add Rate" type="text"></input>
  <br>
  Half Day One Dog:
  <input ng-model="daycarePackages.halfOneDog" placeholder="Add Rate" type="text"></input>
  <br>
  Half Day Two Dogs:
  <input ng-model="daycarePackages.halfTwoDogs" placeholder="Add Rate" type="text"></input>
  <br>
  Each Additional Dog:
  <input ng-model="daycarePackages.additional" placeholder="Add Rate" type="text"></input>
  <br>
  <p></p>
  <button class="btn waves-effect waves-red" type="submit">Submit</button>
</form>
