<div id="fb-root"></div>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <style>
      #index-banner {
        background-image: url("http://cdn1.editmysite.com/uploads/4/9/5/6/49567099/background-images/1415166601.jpg");
        background-position: -65% 35%;
      }
    </style>
    <br><br>
    <h1 class="header center grey-text text-lighten-4">The Doggie Oasis</h1>
    <div class="row center">
      <h6 class="header col s12 light grey-text text-lighten-4">

        <message ng-repeat="welcome in welcomeText">
          {{welcome.welcomeText}}
<!-- Admin View -->
          <br>
          <p></p>
          <p>
              <a ng-href="/#/editWelcome/{{welcome._id}}" class="btn waves-effect waves-red">Update
              </a>
          </p>
<!-- End Admin View -->
        </message>
      </h6>
    </div>
    <br>
  </div>
</div>
<div class="section">

<!--   Icon Section   -->
  <div class="row">
    <div class="col s18 m4 l6">
      <div class="icon-block">
        <h2 class="center grey-text">
          <i class="small material-icons">navigation</i>
        </h2>
        <h5 class="center">Location</h5>

        <center><iframe allowfullscreen frameborder="0" height="132px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.0439819760845!2d-96.847748!3d33.0553089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c24bb6d95f6dd%3A0xe41706f20dae24d4!2sThe+Doggie+Oasis!5e0!3m2!1sen!2sus!4v1440010669403" style="border:0" width="75%"></iframe></center>

      </div>
    </div>

    <div class="col s18 m4 l6">
      <div class="icon-block">
        <h2 class="center grey-text">
          <i class="small material-icons">person_pin</i>
        </h2>
        <h5 class="center">Follow Us</h5>
        <center><div class="fb-page" data-adapt-container-width="true" data-height="100%" data-hide-cover="false" data-href="https://www.facebook.com/thedoggieoasis" data-show-facepile="false" data-show-posts="false" data-small-header="false" data-width="100%">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/thedoggieoasis">
              <a href="https://www.facebook.com/thedoggieoasis">The Doggie Oasis</a>
            </blockquote>
          </div>
        </div></center>
      </div>
    </div>
  </div>
