<h3 class="center">Spa Packages</h3>
<cart>
  <ngcart-summary></ngcart-summary>
</cart>
<!-- Admin View -->
<center>
  <a href="/#/addSpa">Add New Spa Package</a>
</center>
<p>&nbsp;</p>
<!-- End Admin View -->

<div class="row" ng-repeat="spa in spas">
  <div class="col s3 right">
    <ngcart-addtocart id="{{spa._id}}" name="{{spa.title}}" price="{{spa.price}}" quantity-max="5" quantity="1">
      <i class="material-icons">shopping_cart</i>
    </ngcart-addtocart>
  </div>
  <div class="col s9">{{spa.title}}
    <br>
    {{spa.description}}
    <br>
    Price: ${{spa.price}}
    <br>
    <p></p>
    <a class="btn waves-effect waves-red" ng-href="/#/editSpa/{{spa._id}}">Update
    </a>
    <button class="btn waves-effect waves-red" ng-click="deleteSpa(spa)" onclick="Materialize.toast('Item deleted', 2000)">Delete</button>
    <p></p>
  </div>
</div>
