<center>
  <h3>Current Products</h3>
</center>

<cart>
  <ngcart-summary></ngcart-summary>
</cart>
<!-- Admin View -->
<div ng-if="loggedin">
  <center>
    <a href="/#/addProduct">Add New Product</a>
  </center>
</div>
<p>&nbsp;</p>
<!-- End Admin View -->

<div class="row" ng-repeat="product in products">
  <div class="col s3 right">
    <ngcart-addtocart id="{{product._id}}" name="{{product.title}}" price="{{product.price}}" quantity-max="5" quantity="1">
      <i class="material-icons">shopping_cart</i>
    </ngcart-addtocart>
  </p>
</div>
<div class="col s3">
  <center><img class="responsive-image" height="50%" ng-src="{{product.image}}" width="50%"/></center>
</div>
<div class="col s6">{{product.title}}
  <br>
  {{product.description}}
  <br>
    Avg Rating: {{product.avg}}
  <br>
  {{product.price | currency}}
  <br>
  <div>
    <form name="ratingForm" ng-submit="addNewRating(ratingForm.$valid, rating, product)" novalidate>
      <div class="input-field col s4">
        <input class="validate" ng-model="rating.prod" ng-show="false" type="text" value="{{product._id}}">
        <select class="browser-default" ng-model="rating.number" required>
          <option disabled selected value="">Rate Product</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>
      </div>
      <div class="input-field col s4">
        <button class="btn-floating btn-small waves-effect waves-light red" type="submit" ng-disabled="ratingForm.$invalid" ng-submit="addNewRating(rating)" type="submit">
          <i class="material-icons">star</i>
        </button>
      </div>
    </div>
  </form>
  <br>
<!-- Admin View -->
  <p></p>
  <br>
  <p></p>
  <div ng-if="loggedin">
    <a class="btn waves-effect waves-red" ng-href="/#/editProduct/{{product._id}}">Update
    </a>
    <button class="btn waves-effect waves-red" ng-click="deleteProduct(product)">Delete</button>
  </div>
  <p></p>
<!-- End Admin View -->
</div>
</div>
