<h3>Current Products</h3>
<!-- Admin View -->
<a href="/#/addProduct">Add New Product</a>
<p>&nbsp;</p>
<!-- End Admin View -->
<div class="row" ng-repeat="product in products">
  <div class="col s3"><center><img ng-src="{{product.image}}" height="150px" width="100px"/></center></div>
  <div class="col s9">{{product.title}}
    <br>
    {{product.description}}
    <br>
    {{product.price | currency}}
    <!-- Admin View -->
    <br>
    <p></p>
    <a class="btn waves-effect waves-red" ng-href="/#/editProduct/{{product._id}}">Update
    </a>
    <button class="btn waves-effect waves-red" ng-click="deleteProduct(product)">Delete</button>
    <p></p>
    <!-- End Admin View -->
  </div>
</div>
