cart {
  position: fixed;
  float: right;
  margin-top: -2%;
  margin-left: 75%;
}
#quantity {
  width: 25%;
  height: 4%;
}
#paypalButton {
  position: relative;
  margin-left: 81%;
  margin-top: 1%;
}

.footerLinks:hover {
  text-decoration: underline;
}
