<div ng-if="service=='http' || service == 'log'">
  <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
</div>

<div ng-if="service=='paypal'">

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" ng-show="ngCart.getTotalItems()" target="_top">
    <input name="cmd" type="hidden" value="_xclick"/>
    <!-- <input type="hidden" name="upload" value="1"> -->
    <input name="business" type="hidden" value="guentherishere-facilitator@gmail.com"/>
    <input name="lc" type="hidden" value="CA"/>
    <input name="item_name" type="hidden" value="{{ settings.paypal.item_name }}"/>
    <input name="item_number" type="hidden" value="{{ settings.paypal.item_number }}"/>
    <input name="amount" type="hidden" value="{{ ngCart.getSubTotal()}}"/>
    <input name="currency_code" type="hidden" value="{{ settings.paypal.currency_code }}"/>
    <input name="button_subtype" type="hidden" value="services"/>
    <input name="no_note" type="hidden" value="{{ settings.paypal.no_note }}"/>
    <input name="tax_rate" type="hidden" value="{{ ngCart.getTaxRate()}}"/>
    <input name="shipping" type="hidden" value="{{ ngCart.getShipping()}}"/>
    <input name="image_url" type="hidden" value="http://localhost:1337/images/logo.png"/>
    <input name="bn" type="hidden" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest"/>
    <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_paynow_cc_144x47.png" type="image"/>
    <!-- <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"/> -->
  </form>

</div>
